$firstColor: rgb(255, 118, 118);
$secondColor: rgb(143, 118, 255);
$borderColor: rgb(255, 255, 255);

$border1px: 1px solid $borderColor;

.container {
    padding: 25px;
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
}

.todolist{
    .list-non-styled {
        list-style-type: none;
        padding-left: 0px;
        margin: 0px 0px 0px 0px;
        border: $border1px;
        
        li {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-bottom: $border1px;
    
            div:first-child {
                padding-left: 20px;
            }
    
            div:last-child {
                justify-self: right;
            }
    
            input {
                height: 100%;
                border: none;
                border-left: 1px solid $borderColor;
                transition: .5s;
                padding-left: 15px;
                padding-right: 15px;
            }
    
            &:nth-child(2n) {
                background-color: $firstColor;
        
                input {
                    background-color: $firstColor;
        
                    &:hover {
                        background-color: darken($color: $firstColor, $amount: 15);
                    }
                }
            }
    
            &:nth-child(2n+1) {
                background-color: $secondColor;
        
                input {
                    background-color: $secondColor;
        
                    &:hover {
                        background-color: darken($color: $secondColor, $amount: 15);
                    }
                }
            }
    
            &:last-child {
                border-bottom: none;
            }
        }
    
    }
    
    .padding-top-25 {
        padding-top: 25px;
    }
}

.calculator {

    .expression {
        width: 100%;
        height: 30px;
        background-color: $firstColor;
        display: grid;
        align-content: center;
    }

    .calc-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .calc-button {
        background-color: $secondColor;
    }
}

.tictactoe {

    .area {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 100px 100px 100px;

        .field {
            background-color: $firstColor;
        }
    }
}

$chessBlack: rgb(83, 83, 83);
$chessWhite: rgb(255, 255, 255);

.chess {
    display: grid;

    $fieldSize: 50px;

    .chess-board {
        display: grid;
        grid-template-columns: repeat(8, $fieldSize);
        grid-template-rows: repeat(8, $fieldSize);
        border: 1px solid black;
        justify-self: center;

        .chess-field {
            border-radius: 5px;

            $chessStep: 8;

            @mixin fieldStyle {
                background-color: $chessBlack;
                color: $chessWhite;
            }

            @for $i from 0 through 3 {

                &:nth-child(n + #{$chessStep * 2 * $i + 1}):nth-child(-n + #{$chessStep * ($i * 2 + 1)}):nth-child(even) {
                    @include fieldStyle;
                }
                 
                &:nth-child(n + #{$chessStep * ($i * 2 + 1)}):nth-child(-n + #{$chessStep * ($i * 2 + 2)}):nth-child(odd) {
                    @include fieldStyle;
                }

            }

            .pre-figure-block {

                width: 100%;
                height: 100%;
                padding: 5px;
                display: grid;

                .figure-block {
                    
                    height: #{$fieldSize - 10px};
                    width: #{$fieldSize - 10px};
                    object-fit: contain;
                }
            }

        }
    }
}





